.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
}
.button:hover {
  background-color: #3e8e41;
}

.button2 {background-color: #008CBA;} /* Blue */
.button2:hover {background-color: #0077b3;}
.button3 {background-color: #f44336;} /* Red */
.button3:hover {background-color: #da190b;}
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button4:hover {background-color: #ddd;}
.button5 {background-color: #555555;} /* Black */
.button5:hover {background-color: #000000;}

@media (prefers-color-scheme: dark) {
  .button4 {
    background-color: #555555;
    color: white;
  }
  .button4:hover {
    background-color: #131313;
  }
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.small {
  padding: 6px 18px;
  font-size: 12px;
}