.container {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  margin: 1rem;
  z-index: 100;
}

.btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--text-color);
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--background-color-primary);
}