.container {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  margin: 1rem;
  z-index: 2;
}

.btn {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--background-color-primary);
}

.btn:not(:last-child) {
  margin-bottom: 1rem;
}