@keyframes barrageIn {
  0% {
    transform: translateY(20px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes barrageOut {
  0% {
    transform: translateY(0);
    opacity: 1
  }

  100% {
    transform: translateY(20px);
    opacity: 0
  }
}

.container {
  min-width: 300px;
  max-width: 400px;
  background: var(--maskbgdeep);
  color: var(--text-color);
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  position: fixed;
  border-radius: 12px;
  transition: .3s;
  z-index: 1002;
  user-select: none;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid #e3e8f7;
  animation: barrageIn .6s cubic-bezier(.42, 0, .3, 1.11);
}

@media (prefers-color-scheme: dark) {
  .container {
    border: #282829;
  }
}

.container:hover {
  border: 1px solid var(--text-color);
  box-shadow: 0 8px 12px -3px var(--background-color)
}

.hide {
  opacity: 0;
  animation: barrageOut .6s cubic-bezier(.42, 0, .3, 1.11);
  z-index: -1;
}

.container .title {
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  border-bottom: var(--style-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding-bottom: 6px;
}

.tag {
  color: var(--background-color);
  margin-right: 8px;
  background: var(--text-color);
  line-height: 1;
  padding: 4px;
  border-radius: 4px;
}

.image {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: auto;
  margin-right: 8px;
  border-radius: 50%;
}

.close {
  color: var(--text-color);
  cursor: pointer;
  line-height: 1;
  padding: 4px;
}

.container .text {
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text .link {
  margin-left: auto;
  font-size: 16px;
}