.gridContainer {
  display: grid;
}

.total {
  background-color: var(--primary-color);
  padding: 20px;
  padding-left: 30px;
  border-radius: 10px;
}

.totalItem:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

.totalItem:not(:first-child) {
  padding-left: 20px;
}

.totalTitle {
  font-size: 0.8rem;
  color: var(--tertiary-color);
}

.totalNumber {
  font-size: 1.5rem;
  color: var(--quaternary-color);
  font-weight: 600;
}

.widget {
  margin-top: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.widgetTitle {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 900;
}

.chartDetail {
  padding: 30px;
  color: var(--quaternary-color);
}

.chartTitle {
  font-size: 0.92rem;
  font-weight: 600;
  color: inherit;
}



.widgetTitleUnActive {
  color: var(--tertiary-color);
  transition: color 0.2s ease;
}

.widgetTitleUnActive:hover {
  color: var(--quaternary-color);
}

.noOutline {
  outline: none;
}

.tabContent {
  padding: 30px;
}

.tableGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}

.tableHeaderItem {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--tertiary-color);
}

.tableHeader {
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
}

.tableItem {
  padding: 13px 0;
  margin-left: -10px;
  padding-left: 10px;
  font-size: 0.8rem;
  color: var(--quaternary-color);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.tableItem > span {
  text-overflow: ellipsis;
}

.tableTitle:hover {
  text-decoration: underline;
}

.tableItem:hover {
  background-color: var(--secondary-color);
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #e2e2e2;
  --tertiary-color: #999;
  --quaternary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1f1f1f;
    --secondary-color: #2f2f2f;
    --tertiary-color: #999;
    --quaternary-color: #fff;
  }
}