.tabList {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.tab {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  outline: none !important;
}

.tab:hover {
  color: rgb(0, 158, 0);
}

.selected {
  border-bottom: 2px solid green;
  color: green;
  margin-bottom: -2px;
}
