.footer {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
}

.footer div {
  margin-bottom: 4px;
  color: var(--text-color-primary);
}

.refresh {
  cursor: pointer;
  margin-left: 6px;
  transition: color 0.2s ease-in-out;  
}

.refresh:hover {
  @apply text-blue-500;
}

.refresh:hover svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}