.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--sidebar-primary-color);
  border-right: 1px solid var(--sidebar-secondary-color);
  overflow: hidden;
  /* padding: 30px; */
  max-width: 20rem;
  min-height: 100vh;
  overflow-y: auto;
  height: 100vh;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.inner {
  padding: 30px;
  padding-top: 0;
}

.float {
  position: fixed;
  box-shadow: 0 0 20px 0 var(--sidebar-tertiary-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.header.scroll {
  box-shadow: 0 0 20px 0 var(--sidebar-tertiary-color);
}

.headerInner {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1rem;
  font-weight: 900;
  color: var(--sidebar-quaternary-color);
  margin-bottom: 30px;
  margin-left: 15px;
}

.links {
  margin-top: 15px;
  max-width: 150px;
}

:root {
  --sidebar-primary-color: #fff;
  --sidebar-secondary-color: #e6ecf0;
  --sidebar-tertiary-color: rgba(0, 0, 0, 0.1);
  --sidebar-quaternary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-primary-color: #000;
    --sidebar-secondary-color: #1c1c1c;
    --sidebar-tertiary-color: rgba(255, 255, 255, 0.1);
    --sidebar-quaternary-color: #fff;
  }
}

.foot {
  position: absolute;
  bottom: 2rem;
}