.sidebar {
  background-color: rgb(249, 249, 249) !important;
  width: 400px;
}
.sidebarPhone {
  width: 300px !important;
}
.sidebarPhone > .sidebar > div > h1 {
  width: 300px !important;
  padding-left: 0 !important;
}

.sidebarList {
  float: left;
  display: block;
  color: rgba(60, 60, 60, 0.7);
  margin-top: 30px;
}

.sidebarGroup {
  padding-top: 10px;
}

.groupContent {
  padding-left: 10px;
}

.sidebarItem {
  color: rgba(60, 60, 60, 0.7);
  transition: color .25s;
  cursor: pointer;
  padding-right: 100px;
}
.active {
  color: rgb(33, 53, 71);
}
.sidebarItem:hover {
  color: rgb(33, 53, 71);
}

.sidebarItemIcon svg {
  width: 1em;
  height: 1em;
}

.sidebarGroup>.sidebarItem {
  padding: 6px 0;
}


.sidebarItemTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}

.sidebarItemTitle>span {
  font-size: 14px;
  font-weight: 700;
}

.sidebarItemTitle>.action {
  /* 最右 */
  display: block;
  color: rgba(60, 60, 60, 0.7);
  position: relative;
  margin-right: -8px;
  border-radius: 4px;
  transition: color .25s;
}

.action>svg {
  /* position: absolute; */
  top: 8px;
  left: 8px;
  /* right: 100px; */
  width: 100%;
  height: 20px;
}

.hasSidebar {
  display: flex;
  flex-direction: row;
  /* row 将子元素放在一行 */
  flex: auto;
  /* auto 将子元素的大小自动计算 */
  min-height: 0;
}

.sidebarBtnIcon {
  background-color: rgba(60, 60, 60, 0.166);
  padding: 8px;
  border-radius: 100%;
}