.sidebar-drfop {
  width: 250px;
  transition: width .5s;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  background: linear-gradient(to bottom, rgb(0, 195, 255), #009dff);
}

.sidebar-avatar {
  --tw-bg-opacity: 1;
  background-color: rgba(221, 221, 221, var(--tw-bg-opacity));
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-avatar img {
  height: 100%;
  max-width: 100%;
  animation: scale .5s ease-out;
}

.sidebar-scrollbar {
  overflow: hidden;
  position: relative;
  z-index: auto;
  height: 100%;
  width: 100%;
}

.sidebar-scrollbar-container {
  font-family: Josefin Sans;
  padding-left: 1rem;
  width: 100%;
  overflow: scroll;
  height: 100%;
  max-height: inherit;
  scrollbar-width: none;
}

.sidebar-scrollbar-content {
  box-sizing: border-box;
  min-width: 100%
}

.sidebar-item * {
  transition: all .5s;
}

.sidebar-item {
  padding-left: 1rem;
}

.sidebar-item-active {
  background: #0088ff;
  border-radius: 24px 0 0 24px;
}

.sidebar-item :hover {
  background: #6c95fc;
  border-radius: 24px 0 0 24px;
}