.date {
  width: 16rem;
  border-radius: 0.5rem;
  min-height: 2.3rem;
  border: none;
  outline: none;
  padding-left: 10px;
  transition: border-bottom 0.2s ease-in-out;
  resize: none;
  background-color: var(--background-color);
}