.container {
  @apply fixed inset-0 overflow-y-auto;
}

.containerInner {
  @apply flex min-h-full items-center justify-center p-4 text-center;
}

.overlay {
  @apply fixed inset-0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.dialog {
  @apply relative z-10
}

.panel {
  @apply w-full max-w-md transform overflow-hidden rounded-2xl p-6 text-left align-middle shadow-xl transition-all;
  background: var(--background-color-primary);
  color: var(--text-color);
}

.sm {
  @apply max-w-md;
}

.md {
  @apply max-w-2xl;
}

.lg {
  @apply max-w-3xl;
}

.xl {
  @apply max-w-5xl;
}

.title {
  @apply text-lg leading-6;
  color: var(--text-color);
  font-weight: 900;
}

:root {
  --modal-hover-background-color: rgb(185, 185, 185);
  --modal-background-color: rgb(227, 227, 227);
  --modal-text-color: rgb(0, 0, 0);
}

.button {
  @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium;
  color: var(--modal-text-color);
  background-color: var(--modal-background-color) !important;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--modal-hover-background-color) !important;
}

.button:not(last-child) {
  @apply mr-2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --modal-hover-background-color: rgb(42, 42, 42);
    --modal-background-color: rgb(58, 58, 58);
    --modal-text-color: rgb(255 255 255);
  }
}

.modalBody {
  @apply text-sm text-gray-500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.double-click {
  background-color: red !important;
}

.double-click:hover {
  background-color: rgb(219, 0, 0) !important;
}

@media (prefers-color-scheme: light) {
  .double-click {
    color: rgb(255, 255, 255) !important;
  }
}